h1 {
  color: purple;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

h2 a:hover {
  color: red;
  font-weight: 400;
}

.bookcover {
  height: 300px;
  width: auto;
}

.profile_pic {
  height: 300px;
  width: auto;
}

ul.no-bullets {
  list-style-type: circle; /* Remove bullets */
  /* padding: 0;  Remove padding */
  margin: 0; /* Remove margins */
}

li.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /*  Remove padding */
  margin: 0; /* Remove margins */
}

.copyright {
  color: white;
  font-size: 70%;
}
